---
---

@import "{{ site.theme }}";

header {
  width:280px;
}

img.profile {
  max-width:170px;
}

a {
  font-weight:normal !important; // Overwrite theme
}

body{
  color:#222;
}

button, input, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #267CB9;
  border-color: #267CB9;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #069;
  border-color: #069;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}
